@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');


body{
    text-align: center;
    background-color: #A4BFE8;
}

img{
    width:50%;
    border-radius: 50%;
}

h1{
    font-size: 80px;
    font-family: 'Black Han Sans', sans-serif;
    color:#A28F83;
}